.container{
    margin-top: 70px;
    text-align: center;
}
h1{
    color: whitesmoke;
}
table{
    margin: auto;
}
input{
    width: 285px;
    height: 46px;
    border-radius: 23px;
    border: 3px solid black;
    font-size: 23px;
    background-color: bisque;
}
button{
    box-shadow: 1px 1px 3px;
    height: 76px;
    width: 69px;
    font-size: 24px;
    background-color: bisque;
    border-radius: 25px;
}
#equal{
    
    height: 66px;
    width: 143px;
    font-size: 39px;
    background-color: bisque;
}
.calculator{
    padding: 20px;
    background-color:rgb(236, 244, 128);
    border-radius: 26px;
    box-shadow: 3px 16px 68px;
    display: inline-block;
}
body{
    background-color: gray;
}